<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <H1>Compalint Management System</H1>
    Student Fill The Form Complaint <a href="/index/"> clink here</a><br/><br/>


    CareTaker (show all the details of complaint)<a href="/show_data/0/"> clink here</a><br>
    HALL 1 :<a href="/show_data/1/"> clink here</a><br>
HALL 3 :<a href="/show_data/2/"> clink here</a><br>
HALL 4 :<a href="/show_data/3/"> clink here</a><br>
CC :<a href="/show_data/4/"> clink here</a><br>
GARBAGE :<a href="/show_data/5/"> clink here</a><br>
</body>
</html>