<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table style="border: 1px solid black;
                border-collapse: collapse;">
    <tr>
           <th>Complain no </th>

           <th>LOCATION </th>


           <th>Link </th>
        </tr>
    {% for a in x %}
        <tr>
           <td>{{ a.id }} -</td>

           <td>{{ a.location }} -</td>

           <td><a href="/complaint_details/{{ a.id }}/">click here</a></td>
        </tr>

    {% endfor %}

</table>
</body>
</html>