<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<H1>{{ m1.actor }}</H1>
<H2>{{ m1.actor_movie }}</H2>
<!--<ul>

</ul>
-->
{% if error_message %}
    <strong>{{ error_message }}</strong>
{% endif %}
<form action="{% url 'movie2:favorite' m1.id %}" method="post">
    {% csrf_token %}
     {% for song in m1.song_set.all %}

         <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
         <label for="song{{ forloop.counter }}">
            {{ song.song_name }}
            {% if song.is_favorite %}
                <img src="#"/>
            {% endif %}

         </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>
</body>
</html>